<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> GMSServicesAPIKey</key>
	<string>AIzaSyD7n_QBYwz7l_3Rf16Uogn3oLMuG3aW9ug</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>We need to access your camera for scanning QR code</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We’ll use this to find the nearest FoodTruck with you.
We’ll use this to find the nearest FoodTruck with you.
We&apos;ll use this to find the nearest Food Truck with you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We&apos;ll use this to find the nearest Food Truck with you</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>notificationRequestKey</key>
	<string>key=AAAAhf_j2_g:APA91bFzg0NhgyMC9ddCGUYnBPN_SqAGkJVHd5VrVgpLmNfdynXAK4-ikk36vWmqoQhEM7VouvCFr7G8fVPwfs_QagxY5n3pPFqvDTjEbRYSkzJ6jc7Ugp8RyxNXWZHed6hyUWWyPLp1</string>
	<key>pushNotificationURL</key>
	<string>https://fcm.googleapis.com/fcm/send</string>
</dict>
</plist>
